<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" method="post">
    <div class="form-wrap"><img src="../../assets/open-book.jpg" alt=""></div>

    <p>
      <label for="fname">Full name</label><br>
  <input type="text">
    </p>

    <p>
      <label for="fname">Email Id</label><br>
  <input type="text">
    </p>

    <p>
      <label for="fname">Password</label><br>
  <input type="text">
    </p>
    <ion-row>
      <ion-col class="cta">
        <button type="submit" expand="block">Sign Up</button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>