<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="img-wrap"></div>
  <form>
    <div class="user-icon">
      <ion-icon name="person-circle-outline"></ion-icon>
    </div>
<p>
  <label for="fname">Email</label><br>
  <input type="text" id="fname" name="Email" placeholder="xyz@gmail.com">
</p>     
  <p>
    <label for="fname">Password</label><br>
    <input type="text" id="fname" name="Password" placeholder="xxxxxx">
  </p>
    <ion-row>
      <ion-col>
        <div class="cta">
          <button type="text" expand="block">Sign In</button>
        </div>
      
        <div class="acc-create-wrap">
        <div>
          <a [routerLink]="['/registration']" class="small-text">Create Account</a>
        </div>
        <div>
        <a [routerLink]="['/forgot-password']" class="small-text">Forgot Password?</a>
      </div>
    </div>
      </ion-col>
    </ion-row>
  </form>
</ion-content>